<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-Mailer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="title">
            <h2 class="title-Name">K-Mailer</h2>
        </div>
    </nav>
    <div class="content-center">
        <h3 style="font-size: 18px; font-weight: normal; margin-bottom: -10px;">
            Send bulk personalized emails effortlessly with attachments and real-time tracking. 
        </h3>
        <h4>
            🚀 Stay organized, save time, and make every email count!
        </h4>
    </div>
    <div class="center">
        <div class="card">
            <h2>Cold Mail Automation</h2>
            <div class="description">
                <p>Send cold emails to multiple recipients effortlessly!</p>
                <div id="features">
                <p>🛠️ How It Works 🛠️</p>
                <ol style="text-align: left;     letter-spacing: 0.5px;">
                    <li>1️⃣ Upload a <strong>   CSV</strong> file with <strong> Receiver Email("email")</strong> and<strong> Name("name")</strong> fields</li>
                    <li>2️⃣ Enter your sender details, email subject, and message <strong>(excluding greetings and closing)</strong>.</li>
                    <li>3️⃣ Attach a file if needed.</li>
                    <li>4️⃣ Click <strong> Send Emails</strong>  – the system personalizes each message and sends it</li>
                    <li>5️⃣ Download a <strong>detailed report</strong> of sent emails with success/failure status.</li>
                </ol>
            </div>
            </div>
            <a href="/cold-mail" ><button class="btn">Get Started</button></a>
        </div>

        <div class="card">
            <h2>Bulk Mail Automation</h2>
            <div class="description">
                <p>Send Bulk emails to multiple recipients effortlessly!</p>
                <div id="features">
                <p>🛠️ How It Works 🛠️</p>
                <ol style="text-align: left;     letter-spacing: 0.5px;">
                    <li>1️⃣ Upload a <strong>   CSV</strong> file with <strong> Receiver Email("email")</strong> and field below.</li>
                    <li>2️⃣ Enter your sender details, email subject, and <strong>full message content</strong>.</li>
                    <li>3️⃣ Attach a file if needed.</li>
                    <li>4️⃣ Click <strong> Send Emails</strong> – the system personalizes each message and sends it</li>
                    <li>5️⃣ Download a <strong>detailed report</strong> of sent emails with success/failure status.</li>
                </ol>
            </div>
            </div>
            <a href="/bulk-mail" ><button class="btn">Get Started</button></a>
        </div>
        <div class="card">
            <h2>Template Automation</h2>
            <div class="description">
                <p>Send a template to multiple recipients effortlessly!</p>
                <div id="features">
                <p>🛠️ How It Works 🛠️</p>
                <ol style="text-align: left;     letter-spacing: 0.5px;">
                    <li>1️⃣ Upload a <strong>   CSV</strong> file with <strong> Receiver Email("email")</strong> and<strong> Name("name")</strong> fields</li>
                    <li>2️⃣ Enter your sender detail and and provide an <strong> HTML email template</strong> for the message.</li>
                    <li>3️⃣ Attach a file if needed.</li>
                    <li>4️⃣ Click <strong> Send Emails</strong>  – the system personalizes each message and sends it</li>
                    <li>5️⃣ Download a <strong>detailed report</strong> of sent emails with success/failure status.</li>
                </ol>
            </div>
            </div>
            <a href="/template-mail" ><button class="btn">Get Started</button></a>
        </div>
        
    </div>
</div>
    

</body>
</html>
